
.sidebar { width: 200px; } .body_of_board { width: calc(100% - 210px); } .sidebar.collapsed { width: 60px; } .sidebar.collapsed .menu-item span, .sidebar.collapsed .sidebar-title, .sidebar.collapsed .side_menu_footer span, .sidebar.collapsed .side_menu_header { display: none; } .slider_collaps_button { left: 187px; } .sidebar.collapsed .slider_collaps_button { left: 45px; } .member_button, .member_button_for_member_add { width: 35px; height: 35px; } .top_bar_Left_Side_button { font-size: 14px; line-height: 32px; font-weight: 500; } .top_bar_Right_Side_button { width: 35px; height: 35px; font-size: 20px; } .top_bar_profile_image { width: 40px; } .top_bar_sections4 { position: relative; display: flex; justify-content: flex-end; align-items: center; text-align: center; padding: 0; width: fit-content; margin: 5px 5px 5px 8px; }

@media screen and (max-width: 1024px) { .sidebar { width: 200px; } .sidebar.collapsed { width: 60px; } .body_of_board { width: calc(100% - 200px); } .sidebar.collapsed ~ .body_of_board { width: calc(100% - 60px); } .slider_collaps_button { left: 185px; } .sidebar.collapsed .slider_collaps_button { left: 45px; } .member_button, .member_button_for_member_add { width: 24px; height: 24px; } .top_bar_Left_Side_button { font-size: 12px; line-height: 28px; font-weight: 400; } .top_bar_profile_image { width: 30px; } .search_container { max-width: 170px; height: 25px; } .hidden_span { display: none; } .top_bar_sections4 { margin: 2px; width: fit-content; } }

@media screen and (max-width: 768px) { .sidebar { width: 150px; } .sidebar.collapsed { width: 50px; } .body_of_board { width: calc(100% - 150px); } .sidebar.collapsed ~ .body_of_board { width: calc(100% - 50px); } .slider_collaps_button { left: 135px; } .sidebar.collapsed .slider_collaps_button { left: 35px; } .menu-item { gap: 10px; padding: 5px; } .top_bar_sections1, .top_bar_sections3 { padding: 5px; justify-content: center; } .search_container { max-width: 150px; height: 25px; } .member_button, .member_button_for_member_add { width: 25px; height: 25px; } .top_bar_Left_Side_button { font-size: 10px; line-height: 20px; font-weight: 300; } .top_bar_profile_image { width: 25px; } .hidden_span { display: none; } }

@media screen and (max-width: 480px) { .sidebar { width: 80px; } .sidebar.collapsed { width: 40px; } .body_of_board { width: calc(100% - 80px); } .sidebar.collapsed ~ .body_of_board { width: calc(100% - 40px); } .menu-item { padding: 5px; font-size: 12px; } .sidebar-menu span { font-size: 12px; } .slider_collaps_button { left: 65px; } .sidebar.collapsed .slider_collaps_button { left: 25px; } .column { max-width: 100%; min-width: auto; } .search_container { max-width: 120px; height: 25px; } .member_button, .member_button_for_member_add { width: 25px; height: 25px; } .top_bar_Left_Side_button { font-size: 8px; line-height: 15px; font-weight: 200; } .top_bar_profile_image { width: 25px; } .hidden_span { display: none; } }


body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #ffffff; 
}

span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 10px;
  font-weight: 450;
}

.saperator{
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.205);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

/* Sidebar Container */
.sidebar {
  position: absolute;
  left: 0;
  height: max-content;
  background-color: #172b4d00; 
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: width 0.3s ease-in-out;
  border-right: 0.5px solid rgba(0, 0, 0, 0.205);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sidebar Collapsed */
.sidebar.collapsed {
  width: 80px;
  height: 100%;
}

.project_img{
  width:100%;
  height: 100%;
  border-radius: 50%;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  padding: 15px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
}

/* Sidebar Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 8px 8px 17px ;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  height: 40px;
}

.menu-item i {
  color: #44546F;
  font-size: 20px;
  font-weight:600;
}

.sidebar-menu span {
  color: #44546F;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-item span {
  color: #44546F;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14.8px;
  height: 18px;
  font-weight:400;
}
.side_menu_footer{
  position: static;
  display:flex;
  bottom: 0;
  text-align: center;
  justify-content: center;
  padding: 55px 0 35px 0;
}
.side_menu_footer span {
  color: #44546F;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10.8px;
  height: 18px;
  font-weight:400;
}
.side_menu_header span{
  color: #44546F;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10.8px;
  height: 18px;
  font-weight:400;
}

/* Active or Hover Effect */
.menu-item:hover, .menu-item.active {
  background-color: #066aff18; 
}

/* Hide text when sidebar is collapsed */
.sidebar.collapsed .menu-item span {
  display: none;
}
.sidebar.collapsed .sidebar-menu span {
  display: none;
}
.sidebar.collapsed .sidebar-title {
  display: none;
}
.sidebar.collapsed .side_menu_footer span{
  display: none;
}
.sidebar.collapsed .project_img{
  display: none;
}
.sidebar.collapsed .side_menu_header {
  display: none;
}
.sidebar.collapsed .sidebar-title{
  display: none;
}

.slider_collaps_button {
  display: flex;
  position: absolute; 
  top: 105px; 
  width: fit-content;
  height: fit-content;
  color: #000000;
  background-color: #ffffffee;
  border-radius: 50%;
  cursor: pointer;
  transition: left 0.3s ease-in-out; 
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.sidebar.collapsed .slider_collaps_button {
  display: hide;
  left: 65px; 
}


.Top_bar_Row{
  position: static;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.205);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
  padding: 5px;
}


.top_bar_sections1{
  display: flex;
  padding:  5px 5px 0px 5px;
  justify-content: start;

}

.top_bar_sections3{
  display: flex;
  padding:  5px 5px 0px 5px;
  justify-content: end;
  
}


.top_bar_sections5{
  position:relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding:  5px 5px 0px 5px;
  
}

.top_bar_Left_Side_button{
  color: #44546F;
  width: fit-content;
  align-items: center;
  border: none;
  justify-items: center;
  background-color: #3c3c3d00;
  padding: 1px 10px 1px 10px;
  border-radius: 5%;
  text-align: center;
}

.top_bar_Left_Side_button:hover {
  background-color: #3c3c3d17;
  
}

.add_column_btn{
  color: #44546F;
  font-size: 25px;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: #3c3c3d00;
  border-radius: 5%;
  text-align: center;
}

.add_column_btn:hover {
  background-color: #3c3c3d17;
  
  
}

.top_bar_Right_Side_button{
  align-items: center;
  border-radius: 50%;
  border: none;
  justify-items: center;
  background-color: #3c3c3d00;
}

.top_bar_Right_Side_button:hover {
  background-color: #3c3c3d3d;
}
.top_bar_profile_image{
  align-items: center;
  border-radius: 50%;
  justify-self: center;
}
.profile-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.side_menu_row{
  padding: 2px;
  display: flex;
}

.details_section{
  display: flex;
}

/* Default button style */
.button_details_sction {
  display:flex;
  justify-content:center;
  border: none;
  background-color: #f7f8f900; 
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

/* Hover effect for the button */
.button_details_sction:hover {
  display: flex;
  border: none;
  background-color: #3c3c3d3d;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.search_container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  overflow: hidden; 
}

.search_bar {
  flex: 1;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  outline: none; 
}

.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border: none;
  background: #f4f5f7; 
  cursor: pointer;
  transition: background 0.3s ease;
}

.search_button:hover {
  background: #dfe1e6; 
}

.search_button i {
  font-size: 16px;
  color: #172b4d;
}

.member_button_group{
  display: flex;
  align-items: center;
  justify-content: start;
}

.member_button{
  background-color:#091E42;
  border-color: #f7f8f9;
  border-radius: 50%;
  margin-left: -10px;
  color: #f7f8f9;

}

.member_button_for_member_add{
  background-color:#091E42;
  border-color: #f7f8f9;
  border-radius: 50%;
  margin-left: 10px;
  color: #f7f8f9;
}

.filter_dropdown {
  position: relative;
  display: inline-block;
}

.filter_button {
  background: #f4f5f7;
  border: 1px solid #dfe1e6;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter_button:hover {
  background: #dfe1e6;
}

.dropdown_content {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  padding: 10px;
  min-width: 120px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.filter_dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_content label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.default_btn_teme{
 width: 100%;
 height: 100%;
 background-color: #3c3c3d3d;
 color: black;
}

.kanban_board_section{
  height: 80vh;
  overflow-y: scroll;
}

.body_of_board {
  height:fit-content;
  position: absolute;
  right: 0;
  transition: width 0.3s ease-in-out;
}


.sidebar.collapsed ~ .body_of_board {
  width: calc(100% - 70px);
}

.board {
  margin:5px;
  justify-content: start;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 70vh;
}
.task_board_section{
  margin:5px;
  justify-content: start;
  display: flex;
  gap: 20px;
  height: 70vh;
}


.column {
  max-width: 300px;
  min-width: 270px;
  height: max-content;
  background: #f7f8f9; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column_name_section{
  width:270px;
  height:26px;
  border-radius:0px;
  background-color: #f7f8f9;
  color: #172b4d;
  font-weight: 400;
}

.task_section{
  width: 100%;
  min-height:40px;
  border: 2px solid rgba(0, 0, 0, 0.015);
  border-radius: 5px;
}

.add_new_task_section{
  width: 100%;
  
}

.column h4 {
  color: #626F86;
  background-color: #091E42,transparent 2.70%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 0;
}
.task_headline span, .task_footer span{
  color: #172B4D;
  background-color: #091E42,transparent 6.00%; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height:3px;
  font-weight: 400;
  padding: 0;

}
.task_headline{
  padding: 0px 2px 10px 2px;
  margin: 5px 2px 5px 2px;
}

.task{
  background: #ffffff; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px 0 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
  min-width: 260px;
  min-height: 100px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.205);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task_footer {
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding: 0px 2px 10px 2px;
}

.membr_profile_img{
  width: 35px;
  border-radius: 50%;
}

.add_new_task_btn {
  display:flex;
  justify-content:start;
  border: none;
  background-color: #f7f8f900; 
  padding: 5px;
  cursor: pointer;
  min-width: 280px;
  min-height: 40px;
  border-radius: 5px;
}

.add_new_task_btn:hover {
  display: flex;
  border: none;
  background-color: #3c3c3d3d;
  min-width: 280px;
  min-height: 40px;
  border-radius: 5px;
}
.add_new_task_btn span {
  color: #172b4d00;
  background-color: #091e4200;
  font-family: -apple-system;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  padding: 2px;
  margin-left: 5px;
  opacity: 0;
  display: none; 
}

.add_new_task_btn:hover span {
  color: #172B4D;
  background-color: #091E42,transparent 6.00%; 
  font-family: -apple-system;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  padding: 2px;
  margin-left: 5px;
  opacity: 1;
  display: block;
}

.add_new_task_btn i {
  opacity: 0;
  display: none; 
}


.add_new_task_btn:hover i {
  opacity: 1;
  display: block;
}


.task_input_style {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  resize: none; 
  border: none;
}


.editable-title {
  display: inline-block;
  min-width: 100px;
  cursor: text;
  
}

.task_span_style{
  width: 50px;
  height: fit-content;
  border: none;
}
.icon-selector-btn{
font-size: medium;
  text-align: center;
  display: flex;
  text-align: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #00000000;
}


.Sm_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.sm_popup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#column_name_input {
  margin-bottom: 10px;
  padding: 5px;
  width: 400px;
}

.pop_up_save_button {
  padding: 5px 10px;
  width:150px;
  background-color: #6495ED;
  border-radius: 5px;
  border: none;
}
.pop_up_close_button{
  padding: 5px 10px;
  width:150px;
  background-color: #C0C0C0;
  border-radius: 5px;
  border: none;
}
.pop_up_close_button span , .pop_up_save_button span{
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}

.pop_up_save_button:hover {
  background-color: #4a6fb4;
  color: whitesmoke;
}
.pop_up_close_button:hover{
  background-color: #6d6d6d;
  color: whitesmoke;
}


.confirmation-popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  text-align: center;
  width: 500px;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}

.confirmation-popup-content button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

#confirmBtn {
  padding: 5px 10px;
  width:150px;
  background-color: #6495ED;
  border-radius: 5px;
  border: none;
}

#cancelBtn {
  padding: 5px 10px;
  width:150px;
  background-color: #C0C0C0;
  border-radius: 5px;
  border: none;
}

#confirmBtn span , #cancelBtn span{
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}

#confirmBtn:hover {
  background-color: #4a6fb4;
  color: whitesmoke;
}
#cancelBtn:hover{
  background-color: #6d6d6d;
  color: whitesmoke;
}

.confirmation_icon{
  font-size: 70px;
  color: #6495ED;
}
